<tr class='heading'>
  <td><%= entry.title %></td>
  <td><%= entry.description %></td>
  <td>
  <% if entry.category %>
  <%= entry.category.name %>
  <% end %>
  </td>
  <td><%= link_to 'Get rid of this', entry, method: :delete %></td>
</tr>


