<h1>Listing Entries</h1>

<table border='5'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
      <%= render partial: "entry", collection: @entries %>
  </tbody>
</table>
<br>
<%= link_to "New Entry", new_entry_path %>

<br>




